<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.preksha.onlinelearning">

    <application android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity2" />
        <activity android:name=".Android" />
        <activity android:name=".Java" />
        <activity android:name=".Oracle" />
        <activity android:name=".php" />
        <activity android:name=".add_to_cart" />
        <activity android:name=".Checkout" />
        <activity android:name=".Conformation" />
        <activity android:name=".Thank_you"/>
    </application>

</manifest>